<%
  require 'digest'
  cookieValue = Digest::SHA256.hexdigest(password)
%>

<script type="text/javascript">
  function setCookie(name, value, path) {
      console.log(name, value, path);
      let date = new Date();
      date.setTime(date.getTime()+(7*24*60*60*1000));
      let expires = "expires=" + date.toUTCString();
      let cookie = `${name}=${value};${expires};path=${path};secure`;
      console.log(cookie);
      document.cookie = cookie;
    }
</script>

<form action="/rnode/<%= host %>/<%= port %>/" method="GET" target="_blank" onsubmit="setCookie('key', '<%= cookieValue %>', '/rnode/' + '<%= host %>' + '/' + '<%= port %>/')">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-eye"></i> Connect to Visual studio code
  </button>
</form>
